/*
$color1: hsl(23%, 78%, 7%);
$color2: hsl(27%, 92%, 14%);
$color3: hsl(3%, 100%, 21%);
$color4: hsl(31%, 100%, 29%);
$color5: hsl(34%, 100%, 37%);
 */
body div.editor-styles-wrapper {
  font-family: Muli, Tahoma, Verdana, sans-serif;
  color: #333333;
}
body div.editor-styles-wrapper body {
  font-family: Muli, Tahoma, Verdana, sans-serif;
  color: #333333;
}
body div.editor-styles-wrapper h1, body div.editor-styles-wrapper h2, body div.editor-styles-wrapper h3, body div.editor-styles-wrapper h4, body div.editor-styles-wrapper h5, body div.editor-styles-wrapper h6 {
  font-weight: 700;
  margin: 1em 0 0.2em;
  line-height: 1.1em;
}
body div.editor-styles-wrapper h1, body div.editor-styles-wrapper h2, body div.editor-styles-wrapper h3 {
  font-family: Hind, serif;
}
body div.editor-styles-wrapper h1 {
  color: #8c330d;
}
body div.editor-styles-wrapper h2, body div.editor-styles-wrapper h3 {
  color: #2e93dc;
}
body div.editor-styles-wrapper h4, body div.editor-styles-wrapper h5, body div.editor-styles-wrapper h6 {
  color: #576010;
  font-family: Muli, Tahoma, Verdana, sans-serif;
  font-weight: 300;
}
body div.editor-styles-wrapper h1 {
  font-size: 3em;
}
body div.editor-styles-wrapper h2 {
  font-size: 2.2em;
}
body div.editor-styles-wrapper h3 {
  font-size: 1.5em;
}
body div.editor-styles-wrapper h4 {
  font-size: 1.3em;
}
body div.editor-styles-wrapper h5 {
  font-size: 1.2em;
}
body div.editor-styles-wrapper hr:not(.is-style-plain) {
  position: relative;
  margin: 2em auto 1em;
  border: none;
  clear: both;
}
body div.editor-styles-wrapper hr:not(.is-style-plain), body div.editor-styles-wrapper hr:not(.is-style-plain):before, body div.editor-styles-wrapper hr:not(.is-style-plain):after {
  border-radius: 10px;
  height: 10px;
  width: 10px;
  background: #e6e6e6;
}
body div.editor-styles-wrapper hr:not(.is-style-plain):before, body div.editor-styles-wrapper hr:not(.is-style-plain):after {
  position: absolute;
  content: "";
  top: 0;
}
body div.editor-styles-wrapper hr:not(.is-style-plain):before {
  left: -45px;
}
body div.editor-styles-wrapper hr:not(.is-style-plain):after {
  left: 45px;
}
body div.editor-styles-wrapper hr:not(.is-style-plain).wp-block-separator {
  border: none;
}
body div.editor-styles-wrapper hr:not(.is-style-plain).is-style-wide, body div.editor-styles-wrapper hr:not(.is-style-plain).is-style-wide:before, body div.editor-styles-wrapper hr:not(.is-style-plain).is-style-wide:after {
  border-radius: 0;
  height: 7px;
  width: 100px;
}
body div.editor-styles-wrapper hr:not(.is-style-plain).is-style-wide:before {
  left: -150px;
}
body div.editor-styles-wrapper hr:not(.is-style-plain).is-style-wide:after {
  left: 150px;
}
body div.editor-styles-wrapper hr.wp-block-separator.is-style-plain {
  border: 1px solid #cccccc;
  max-width: 80%;
}
body div.editor-styles-wrapper .wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 80%;
}
body div.editor-styles-wrapper a {
  color: #264b31;
  transition: transform 0.2s;
}
body div.editor-styles-wrapper a:hover {
  text-decoration: underline wavy;
}
body div.editor-styles-wrapper ul, body div.editor-styles-wrapper ol {
  margin: 0.9em 0 0.9em 1.3em;
}
body div.editor-styles-wrapper ul {
  list-style: disc;
}
body div.editor-styles-wrapper li {
  padding: 0.2em 0;
}
body div.editor-styles-wrapper nav ul {
  list-style-type: none;
}
body div.editor-styles-wrapper nav ul li {
  padding: 0;
}
body div.editor-styles-wrapper blockquote:not(.is-style-large),
body div.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large) {
  border-color: #ff8133;
  margin: 2em 0;
}
body div.editor-styles-wrapper blockquote:not(.is-style-large) p,
body div.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large) p {
  font-weight: 700;
}
body div.editor-styles-wrapper blockquote:not(.is-style-large) p em,
body div.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large) p em {
  font-style: normal;
}
body div.editor-styles-wrapper .wp-block-quote.is-style-large {
  font-size: 1.5em;
  color: #264b31;
  margin: 2rem 1.5rem;
}
body div.editor-styles-wrapper .wp-block-quote.is-style-large p {
  font-weight: 400;
}
body div.editor-styles-wrapper table {
  border-collapse: collapse;
}
body div.editor-styles-wrapper td {
  border: 1px solid #505e58;
  padding: 3px;
}
body div.editor-styles-wrapper thead th {
  background: #505e58;
  padding: 3px;
  font-weight: 700;
  color: white;
  font-size: 0.9em;
}
body div.editor-styles-wrapper figure figcaption {
  color: gray;
  font-size: 0.9em;
  text-align: center;
  font-weight: 200;
}
body div.editor-styles-wrapper p {
  margin: 0.4em 0;
  padding: 0.4em 0;
}
body div.editor-styles-wrapper p:first-child {
  margin-top: 0;
  padding-top: 0;
}
body div.editor-styles-wrapper p, body div.editor-styles-wrapper li {
  line-height: 1.4em;
}
body div.editor-styles-wrapper p b, body div.editor-styles-wrapper li b {
  color: black;
}
body div.editor-styles-wrapper p.has-drop-cap:not(:focus)::first-letter {
  font-family: Cardo;
  font-size: 7em;
}
body div.editor-styles-wrapper .alignright {
  float: right;
  padding-left: 0.8em;
  padding-bottom: 0.8em;
}
body div.editor-styles-wrapper .alignleft {
  float: left;
  padding-right: 0.8em;
  padding-bottom: 0.8em;
}
body div.editor-styles-wrapper .aligncenter {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
body div.editor-styles-wrapper .wp-block-button__link {
  border-radius: 6px;
  background: #264b31;
  transition: transform 0.2s, box-shadow 0.2s;
}
body div.editor-styles-wrapper .wp-block-button__link:hover {
  text-decoration: none;
  box-shadow: 0 0 40px black inset;
  transform: scale(1.01);
}
body div.editor-styles-wrapper, body div.editor-styles-wrapper p, body div.editor-styles-wrapper ol, body div.editor-styles-wrapper ul {
  font-size: 20px;
}
body div.editor-styles-wrapper p.has-drop-cap:not(:focus)::first-letter {
  font-size: 7rem;
}
body div.editor-styles-wrapper h1 {
  font-size: 2.2em;
}
body div.editor-styles-wrapper h2 {
  font-size: 1.7em;
}
body div.editor-styles-wrapper .mce-content-body {
  line-height: 1.4em;
}

.wp-block {
  max-width: 1024px;
}

[data-type="core/spacer"] {
  clear: both;
}

/*# sourceMappingURL=editor.css.map */
