/*!
Theme Name: Church of the Redeemer NH
Theme URI: http://redeemernh.org
Description: A theme for Church of the Redeemer, Manchester NH.
Version: 1.2.0
Author: Jake Paris
Author URI: https://jakeparis.com/

*/

@import 'src/variables';
@import 'src/minireset';

@import 'src/shared-content-area-styles';

fieldset {
	border: 1px solid $color5;
	padding: .7em;
}
legend {
	padding: .5em 0;
	font-weight: 700;
	font-size: .9em;
	text-transform: uppercase;
}
input[type="text"] ,
input[type="search"] ,
input[type="password"] ,
input[type="email"] ,
input[type="phone"] ,
textarea
{
	border: 1px solid $color5;
	padding: 2px;
	font-family: inherit;
	font-size: inherit;
	box-shadow: 0 0 6px hsla(0,0%,0%,0.1);
}

input[type="submit"] , button, a.button {
	border: none;
	background: $color1;
	color: white;
	padding: .5em 1em;
	border-radius: 3px;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	transition: box-shadow .2s, transform .2s;
	text-shadow: 0 0 3px hsla(0, 0%, 0%, .5);
	transform: perspective(100px) translateZ(0);

	&:hover {
		box-shadow: 0 0 50px hsl(18, 70%, 10%) inset;
		transform: perspective(100px) translateZ(4px);
	}
}

figure {
	@media (max-width: map-get($bp, 1) ) {
		width: 100%;
	}
}

body {
	background: white;
}

.wrap, nav.main-navigation > ul {
	margin: 0 auto;
	padding: 0 1em;
	max-width: 800px;

	@include query(814px){
		padding: 0;
	}
	@include bp(2){
		// padding: 0;
	}
	@include bp(3){
		max-width: 1024px;
	}
}

header.main {
	padding: 0 0 1.5rem;
	border-top: 5px solid $color8;

	.wrap {
		// border: 0 solid $color8;
		// border-top-width: 6px;

		display: flex;
		flex-direction: column-reverse;

		@include bp(1){
			display: block;
			border-bottom-width: 1px;
			border-top-width: 0;
		}
	}

	address {
		font-size: .9em;
		font-style: normal; // override browser italic (otherwise use reset)
		margin-bottom: 0;
		text-align: center;
	
		span {
			display: block;
		}
		span.divider {
			display: none;
		}

		@include bp(1){
			margin-bottom: 2rem;
			text-align: left;

			span, span.divider {
				display: inline;
			}
		}
	}

	@include bp(1){
		padding: 1rem 0 3rem;
	}

	@include bp(3){
		padding: 1.5rem 0 2.7rem;
	}

}

#logo {
	width: 600px;
	margin: 1em 0;
}
// body.home #logo {
// 	height: 300px;
// 	margin-left: auto;
// 	margin-right: auto;
// 	display: block;
// }

@media(max-width: map-get($bp, 1) ) {

	img {
		width: 100%;
	}

	.wp-block-image .alignright ,
	.wp-block-image .alignleft 
	{
		float: none;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;	
	}
}

.wp-block-spacer {
	clear: both;
}

h1.site-title {
	color: $color7;
	font-family: $fontSerif;
	font-size: 3em;
	font-weight: 800;
	left: -.1em;
	letter-spacing: -3px;
	line-height: 1em;
	margin: .5em 0 .8em;
	position: relative;
	text-align: center;

	a, a:hover {
		color: inherit;
		text-decoration: none;
	}

	@include bp(1){
		// margin-top: 0.6em;
		font-size: 4em;
		line-height: 0.8em;
		margin: .6em 0 .2em;
		top: .6rem;
	}

	@include bp(2){
		font-size: 5em;
		text-align: left;
		text-shadow: 0px 0px 4px hsla(214, 80%, 24%, 0.2);
	}


	@include bp(5){
		// font-size: 7em;
	}
}


// header.main.has-photo {
// 	background: {
// 		repeat: no-repeat;
// 		position: 50% 23%; // @FIXME this is just for this one image
// 		size: cover;
// 	}
// 	padding-top: 0;

// 	address {
// 		background: hsla(0,0%,100%,.5);
// 		border-radius: 0 0 4px 4px;
// 		padding: 1em;
// 	}
// }
div.header-image {
	background-size: cover;
	height: 50vh;
	position: relative;
	// border-top: 1px solid $color8;

	span {
		position: absolute;
		right: 0;
		bottom: 0;
		padding: .3em .7em;
		font-size: .7em;
		font-weight: 200;
		color: white;
		background: hsla(0,0%,0%,.5);
		border-radius: 3px 0 0 0;
	}
}

.main-navigation-toggle {
	// border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	margin: 0 auto;
	width: 100%;

	svg {
		fill: $color4;
		height: 80%;
		width: 80%;
	}

	&:active, &:hover, .js-active & {
		background: $color8;//$color2;
		svg {
			fill: hsl(138, 33%, 95%);
		}
	}
}

$sizeOf_a_padding: 1em;

// there's no featured image
// header.main + nav.main-navigation {
// 	& > ul {
// 		position: relative;

// 		&::before {
// 			position: absolute;
// 			top: -1em;
// 			left: 0;
// 			content: '';
// 			width: 100%;
// 			border-top: 1px solid hsl(205, 80%, 72%);
// 		}
// 	}
// }

nav.main-navigation {

	margin: 0;
	// margin-top: 1.5rem;
	font-size: 1.1em;
	background: lighten($color8, 24%);

	a[href="#"] {
		cursor: default;
	}

	// any <a>
	ul a {
		color: inherit;
		padding: $sizeOf_a_padding;
		text-decoration: none;
		display: block;
		font-weight: 200;

		&:active {
			text-decoration: underline;
		}
	}

	// the top level menu
	#menu-main-menu {
		position: relative;
		list-style-type: none;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		overflow: hidden;
		max-height: 0;
		transition: max-height .3s;

		& > li {

			// first menu item of top level <ul>
			&:first-of-type {
				a {
				}
			}
		}
	}

	&.js-active {
		#menu-main-menu {
			max-height: 200vh;
		}
	}

	ul.sub-menu {
		overflow: hidden;
		max-height: 0;
		transition: none;
		border-left: 3px solid hsl(0, 0%, 40%);
		margin-top: 0;
		margin-bottom: 0;
	}

	li.menu-item-has-children.js-active > ul.sub-menu {
		max-height: 200vh;
		transition: max-height .3s;
	}

	li.current-menu-ancestor > a {
		text-decoration: underline;
	}
	li.current-menu-item > a {
		font-weight: 700;
		color: $color2;
		background: transparent;
		pointer-events: none;
		cursor: default;
	}

	li.menu-item-has-children:not(.js-active){
		position: relative;

		& > a:active {
			text-decoration: none;
		}

		&:after {
			$size: 32px;
			background: {
				image: url(im/down-arrow.svg);
				position: center;
				size: 90%;
				color: hsl(0, 0%, 96%);
			};
			border-radius: $size;
			border: 1px solid hsl(0, 0%, 80%);
			content: '';			
			display: inline-block;
			height: $size;
			line-height: $size;
			pointer-events: none;
			position: absolute;
			right: 3px;
			text-align: center;
			top: .5em;
			width: $size;
		}
	}
}

@include bp(3){
	.main-navigation-toggle {
		display: none;
	}
	
	nav.main-navigation {
		
		border-top: 1px solid $color8;
		border-bottom: 1px solid $color8;

		ul a {	
			&:hover {
				background: $color6; //hsla(0, 0%, 0%, .2);
			}
		}

		#menu-main-menu {
			max-height: none;
			overflow: visible;
			left: -$sizeOf_a_padding; // should match <a> padding
			flex-direction: row;

			& > li > a {
				border-top: 3px solid transparent;
			}
			& > li.current-menu-item > a {
				border-color: $color8;
			}
		}

		

		ul.sub-menu {
			display: none;
			position: absolute;
			z-index: 80;
			margin-left: 0;
			margin-top: 0;
			box-shadow:
				2px 2px 2px hsla(0, 0%, 0%, .2),
				2px 2px 2px hsla(0, 0%, 0%, .2)
			;
			background: white; //$color6
			border-left: 1px solid hsl(0, 0%, 94%);
			overflow: visible;
			max-height: none;
			// @TODO this shouldn't be needed, but otherwise the sub-menu is constricted
			//       to the same width as the top-level menu
			min-width: 300px;

			li {
				margin-left: 0;
				padding-left: 0;
			}
		}

		li.menu-item-has-children:hover > ul.sub-menu {
			display: block;
		}
		li.menu-item-has-children:after {
			content: none !important;
		}
	}

}


h1.page-title {
	margin: .5em 0 .8em;
	font-size: 3.1em;
	color: hsl(18, 100%, 20%);

	@include bp(3){
		margin-top: 1.4em;
	}
}


.social-link {
	height: 32px;
	width: 32px;
	display: inline-block;
	margin-right: .6em;
	background: {
		size: contain;
		repeat: no-repeat;
		position: center;
	}
	transition: transform .2s;
	text-decoration: none;
	border: none;

	&:hover {
		transform: scale(1.2) rotate(3deg);
		text-decoration: none;
	}

	&.facebook {
		background-image: url('im/facebook.svg');
	}
	&.twitter {
		background-image: url('im/twitter.svg');
	}
	&.vimeo {
		background-image: url('im/vimeo.svg');
	}
	&.soundcloud {
		background-image: url('im/soundcloud.svg');
	}
	&.pinterest {
		background-image: url('im/pinterest.svg');
		background-size: 85%;
	}
	&.instagram {
		background-image: url('im/instagram.svg');
	}

}

aside.pre-footer {
	background: lighten($color8, 24%);
	border-top: 1px solid $color8;
	margin-top: 3em;
	padding: 2.4em 1em 4em;

	.widget {
		padding-bottom: 1.5em;
		margin-bottom: 1.5em;
		border-bottom: 1px dashed hsl(0, 0%, 75%);
	}
	.widget:last-of-type {
		border-bottom: none;
	}

	h2.widgettitle {
		color: $color3;
	}

	@media(max-width: map-get($bp, 3) ) {
		.pre-footer-cols > div.widget:first-of-type h2.widgettitle {
			margin-top: 0;
		}
	}

	@include bp(3){
		.pre-footer-cols {
			display: grid;
			grid-gap: 3.5em 3em;
			     gap: 3.5em 3em;
			grid-template-columns: repeat(2, 1fr);
		}

		.widget {
			border: none;
			margin: 0;
		}

	}

	.widget_recent_entries {
		ul { margin: 0 ;padding: 0; }
		li {
			list-style-type: none;
			padding: 1em 0;
		}
		a {
			font-weight: bold;
			text-decoration: none;
		}
		span.post-date {
			color: $color4;
			font-style: italic;
			&:before {
				display: block;
				content: '';
			}
		}
	}
}

.pre-footer {
	text-align: center;
	margin-top: 1.5em;
	padding-top: 3em;
	margin-bottom: 3em;
	font-size: 1.3em;
	border-top: 1px dashed hsl(0, 0%, 85%);

	.button {
		background: $color4;
		text-decoration: none;
	}
}

footer {

	margin-top: 3em;
	padding: 2.4em 1em 4em;
	background: $color7;
	color: hsl(0, 0%, 90%);;
	position: relative;
	font-weight: 300;
	text-align: center;

	a {
		color: inherit;
		text-decoration: none;
		border-bottom: hsla(0, 0%, 100%, .2) 1px solid;
		&:hover {
			color: $color8;
			text-decoration: none;
			// border-color: $color8;
		}
	}

	.footer-cols {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 3.5em 3em;
		     gap: 3.5em 3em;
		
		.service-times {
			grid-row-start: 2;
		}
	}

	@include bp(1) {
		text-align: left;

		.footer-cols {
			grid-template-columns: repeat(2, 1fr);
			
			.contact-block {
				grid-row-start: 1;
				grid-row-end: 3;
			}
			.service-times {
				grid-row-start: auto;
			}
		}
	}

	& > div:first-child {
		border-top: 1px solid $color8;
		padding-top: .7em;
	}

}

aside.pre-footer + footer {
	margin-top: 0;
}

section.content {
	padding: 1em 1em 2em;
	position: relative;
	overflow: auto;
}

body.single-post section.content.type-post.has-post-thumbnail {

	margin-top: 2em;
	display: flex;
	flex-direction: column-reverse;

	@include bp(1){
		flex-direction: row;
		margin-top: 4em;
	}

	.content-column {

		@include bp(1) {
			flex-basis: 66%;
		}
	}

	.featured-image-column {

		img {
			display: block;
			margin: 1em auto 3em;
			// max-width: none;
		}

		@include bp(1){
			flex-basis: 33%;
			margin-left: 1em;

			img {
				// max-width: none;
			}
		}

	}

}

.meta {

	.meta-postdate {
		font-size: 1.1em;
		font-weight: 600;
		color: gray;

		a {
			color: inherit;
		}
	}
}
.meta + .page-title {
	margin-top: 0;
}

body.blog {

}

main.user-content {
	font-size: 20px;
	h1 {
		font-size: 2.2em;
	}
	h2 {
		font-size: 1.7em;
	}
}

/** 
 * Post Index / archives
 */
.post-list {
	section {
		overflow: auto;
		padding: 0 0 1.4em;

		img.wp-post-image {
			max-width: 200px;
			float: right;
			margin-left: 1em;
			margin-bottom: 1em;
		}
	}
}

.pagination {
	display: flex;
	justify-content: center;
	
	a {
		display: block;
		margin: .6em;
		background: $color2;
		color: white;
		padding: .8em;
		text-decoration: none;
		transition: transform .3s, background-color .3s, border-radius .2s;
		transform: translateX(0);
		border-radius: 3px;

		&:hover {
			background-color: $color6;
		}
	}

	.button-wrap.pagination-older {
		a:hover {
			transform: translateX(-7px);
			border-top-left-radius: 2em;
			border-bottom-left-radius: 2em;
		}
	}
	.button-wrap.pagination-newer {
		a:hover {
			transform: translateX(7px);
			border-top-right-radius: 2em;
			border-bottom-right-radius: 2em;
		}
	}
}

.news-posts-with-thumbnails {

	font-size: .9em;

	.post-title a {
		text-decoration: none;
	}

	.content-with-thumbnail {
		border-radius: 3px;
		border: 1px solid hsl(0, 0%, 92%);
		box-shadow: 2px 2px 2px hsla(0, 0%, 0%, .2);

		.meta ,
		main {
			padding-left: .7em;
			padding-right: .7em;
		}
	}

	.featured-image {
		height: 250px;
		background: {
			repeat: no-repeat;
			size: cover;
			position: center;
			image: linear-gradient( hsl(0, 0%, 97%), hsl(0, 0%, 94%) );
		}
		margin-bottom: .5em;
	}

	.post-title {
		font-size: 1.2em;
		padding: 1em .7em;
	}
	.meta {
		font-size: .8em;
	}
	.continue-reading {
		text-align: center;
	}

	@media(min-width: 600px){
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1em;

		.content-with-thumbnail {
		}
	}

	@media(min-width: 1280px){
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1.7em;
	}
}


/**
 * Home Page
 */
@import 'src/home-styles';


/** Plugins
 */
.metaslider .caption b {
	color: inherit;
}
.metaslider.ms-theme-disjoint {
	.flexslider ul.slides .caption-wrap .caption, 
	.rslides .caption-wrap .caption, 
	.nivoSlider .nivo-caption 
	{
		font-size: 1em;
	}
}
// ninja forms
.nf-response-msg {
	background: hsl(100,75%,85%);
    padding: .5em;
    margin: 1em 0;
    border: 1px solid hsl(100,50%,70%);
}
