body {
	font-family: $fontMain;
	color: hsl(0, 0%, 20%);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 1em 0 .2em;
	line-height: 1.1em;
}
h1, h2, h3 {
	font-family: $fontHeadings;
}
h1 {
	color: hsl(18, 83%, 30%);
}
h2, h3 {
	color: desaturate(darken($color8, 20%), 10%);
}

h4, h5, h6 {
	color: hsl(67, 71%, 22%);
	font-family: $fontMain;
	font-weight: 300;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.2em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	// font-weight: bold;
}

$hrSize: 10px;

hr:not(.is-style-plain) {
	position: relative;
	margin: 2em auto 1em;
	border: none;
	clear: both;

	&, &:before, &:after {
		border-radius: $hrSize;
		height: $hrSize;
		width: $hrSize;
		background: hsl(0,0%,90%);
	}

	&:before, &:after {
		position: absolute;
		content: '';
		top: 0;
	}
	&:before {
		left: -45px;
	}
	&:after {
		left: 45px;
	}

	&.wp-block-separator {
		border: none;
	}

	&.is-style-wide {
		&, &:before, &:after {
			border-radius: 0;
			height: 7px;
			width: 100px;
		}

		&:before {
			left: -150px;
		}
		&:after {
			left: 150px;
		}
	}
}
hr.wp-block-separator.is-style-plain {
	border: 1px solid hsl(0, 0%, 80%);
	max-width: 80%;	
}
// to avoid using an !important for an override
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 80%;
}

a {
	color: $color2;
	transition: transform .2s;
	&:hover {
		text-decoration: underline wavy; 
	}
}
ul, ol {
	margin: .9em 0 .9em 1.3em;
}
ul {
	list-style: disc;
}
li {
	padding: .2em 0;
}

nav ul {
	list-style-type: none;
	li {
		padding: 0;
	}
}

blockquote:not(.is-style-large) , 
.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-color: $color6;
	margin: 2em 0;
	p {
		font-weight: 700;
		em {
			font-style: normal;
		}
	}
}
.wp-block-quote.is-style-large {
	font-size: 1.5em;
	color: hsl(138, 33%, 22%);
	margin: 2rem 1.5rem;
	p {
		font-weight: 400;
	}
}

table {
	border-collapse: collapse;
}
td{
	border: 1px solid $color4;
	padding: 3px;
}
thead th {
	background: $color4;
	padding: 3px;
	font-weight: 700;
	color: white;
	font-size: .9em;
}

figure {

	figcaption {
		color: gray;
		font-size: .9em;
		text-align: center;
		font-weight: 200;
	}
}

p {
	margin: .4em 0;
	padding: .4em 0;
}
p:first-child {
	margin-top: 0;
	padding-top: 0;
}

p, li {
	line-height: 1.4em;
	
	b {
		color: hsl(0, 0%, 0%);
	}
}
p.has-drop-cap:not(:focus)::first-letter {
	font-family: $fontSerif;
	font-size: 7em;
}

.alignright {
	float: right;
	padding-left: .8em;
	padding-bottom: .8em;
}
.alignleft {
	float: left;
	padding-right: .8em;
	padding-bottom: .8em;
}
.aligncenter {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-button__link {
	border-radius: 6px;
	background: $color2;
	transition: transform .2s, box-shadow .2s;
	&:hover {
		text-decoration: none;
		box-shadow: 0 0 40px hsl(0, 0%, 0%) inset;
		transform: scale(1.01);
	}
}