
// Muli, "Fira Sans"
$fontMain: Muli, Tahoma, Verdana, sans-serif;
// $fontHeadings: 'Fira Sans';
// $fontHeadings: 'Raleway';
$fontHeadings: Hind, serif;
// $fontHeadings: 'Alfa Slab One';
// $fontHeadings: 'PT Serif';
$fontSerif: Cardo;//'Nanum Myeongjo, serif';

;
// $fontSecondary: ???;


// $colorMain

$colorLight1: hsl(46, 89%, 68%);
// $colorLight2: hsl(13, 97%, 76%);

/*
$color1: hsl(23%, 78%, 7%);
$color2: hsl(27%, 92%, 14%);
$color3: hsl(3%, 100%, 21%);
$color4: hsl(31%, 100%, 29%);
$color5: hsl(34%, 100%, 37%);
 */

$color1: hsl(18, 82%, 14%);
$color2: hsl(138, 33%, 22%);
$color3: hsl(40, 60%, 17%);
$color4: hsl(154, 8%, 34%);
$color5: hsl(35, 50%, 54%);
$color6: hsl(23, 100%, 60%);
$color7: hsl(214, 80%, 14%);
$color8: hsl(205, 81%, 72%);
$bp: (
	1: 600px,
	2: 960px,
	3: 1280px,
	4: 1440px,
	5: 1600px,
	6: 1920px,
);

@mixin query($size){
	@media(min-width: #{$size}px){
		@content;
	}
}
@mixin bp($size: 1){
	@media(min-width: map-get($bp, $size) ) {
		@content;
	}
}
@mixin bpx($size: 600){
	@media(min-width: #{$size}px ) {
		@content;
	}
}