@import 'variables';

body div.editor-styles-wrapper {
	font-family: $fontMain;
	color: hsl(0, 0%, 20%);
	@import 'shared-content-area-styles';

	&, p, ol, ul {
		font-size: 20px;
	}
	p.has-drop-cap:not(:focus)::first-letter {
		font-size: 7rem;
	}
	
	h1 {
		font-size: 2.2em;
	}
	h2 {
		font-size: 1.7em;
	}

	.mce-content-body {
		line-height: 1.4em;
	}
}

.wp-block {
	// approximates the size of our standard wp-content column, with sidebar, on 1680px-wide mac laptop
    max-width: 1024px; 
}
[data-type="core/spacer"] {
	clear: both;
}